$container-width:100%;
$container-height:100%;
@mixin middles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.wraper{
  height: 100vh;
}
.container{
  height:$container-height;
  background-color: blue;
  @include middles();
  .imgs{
    margin: 1rem;
    height:$container-height/3;
    width:$container-width/4;
    &:hover{
      background-image: linear-gradient(yellow,blue);
    }
    img{
      object-fit: contain;
      @include middles();
      height:$container-height;
      width:$container-width;
      &:hover{
        filter: blur(4px);
      }

    }
  }
}